.main {
  background-color: teal;
  height: 100vh;
}

.main img {
  width: 100%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  opacity: 0.7;
  position: absolute;
}

.main-content {
  height: 300px;
  width: 400px;
  z-index: 2;
  right: 20%;
  bottom: 30%;
  position: fixed;
  color: white;
  background-color: red;
}
