.main {
  background-color: #005959;
  /*background-attachment: scroll;*/
}

.main img {
  width: 100%;
  height: auto;
  margin-top: 10%;
  margin-bottom: 5%;
  opacity: 0.7;
  position: absolute;
}

.main-content {
  z-index: 2;
  right: 40%;
  bottom: 30%;
  position: fixed;
  color: white;

}

.content {
  position: absolute;
  /*bottom: -50%;
  left: 90%;*/
  transform: translate(-50%, -50%);
  height: 160px;
  overflow:hidden;

  font-family: 'Lato', sans-serif;
  font-size: 70px;
  line-height: 70px;
  color: #ecf0f1;
}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 75px;
  padding: 0 70px;
}

.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}
.content__container__list {
  padding-left: 340px;
  text-align: left;
  list-style: none;

  -webkit-animation-name: change;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 15s;
  animation-iteration-count: infinite;

}

.content__container__list__item {
  line-height:70px;
  margin-left: 10px;
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-33%,0);}
  33.32%,45.98% {transform:translate3d(0,-66%,0);}
  /*49.98%,62.64% {transform:translate3d(0,-75%,0);}*/
  66.64%,79.3% {transform:translate3d(0,-66%,0);}
  83.3%,95.96% {transform:translate3d(0,-33%,0);}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-33%,0);}
  33.32%,45.98% {transform:translate3d(0,-66%,0);}
  /*49.98%,62.64% {transform:translate3d(0,-75%,0);}*/
  66.64%,79.3% {transform:translate3d(0,-66%,0);}
  83.3%,95.96% {transform:translate3d(0,-33%,0);}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-33%,0);}
  33.32%,45.98% {transform:translate3d(0,-66%,0);}
  /*49.98%,62.64% {transform:translate3d(0,-75%,0);}*/
  66.64%,79.3% {transform:translate3d(0,-66%,0);}
  83.3%,95.96% {transform:translate3d(0,-33%,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-33%,0);}
  33.32%,45.98% {transform:translate3d(0,-66%,0);}
  /*49.98%,62.64% {transform:translate3d(0,-75%,0);}*/
  66.64%,79.3% {transform:translate3d(0,-66%,0);}
  83.3%,95.96% {transform:translate3d(0,-33%,0);}
}

/*.search {
  padding-top: 400px;
}*/
