<div class="user">
<a routerLink="user" class="userlink">My Profile</a>
</div>
<div class="main">
  <img id="bull" src="http://static3.businessinsider.com/image/58bed264491a3b51008b48b4/a-25-trillion-asset-manager-just-put-a-statue-of-a-defiant-girl-in-front-of-the-wall-street-bull.jpg" alt="bull and girl" />

  <div class="main-content">
    <div class="content">
      <div class="content__container">
        <p class="content__container__text">
          Corporate
        </p>

        <ul class="content__container__list">
          <li class="content__container__list__item">stocks</li>
          <li class="content__container__list__item">contributions</li>
          <li class="content__container__list__item"><em>secrets</em></li>
        </ul>
      </div>
    </div>

  </div>
  <div class="search">
    <app-search></app-search>
  </div>
  <!-- <div class="row aboutpanel">
    <!-- <div class="col-md-3 block" id = "leftBlock">
      <p>
        picture
      </p>
    </div> -->
    <!-- <div class="col-md-8 block">
      <p>
        About us: We love things and stuff! About us: We love things and stuff! About us: We love things and stuff About us: We love things and stuff! gs and stuff! About us: We love things and stuff! About us: We love things and stuff About us: Wt us: We love things and stuff About us: We love things and stuff!
      </p>
    </div>
    <div class="col-md-3 block" id = "rightBlock">
      image
    </div> -->
  <!-- </div> --> 
