table {
  border: 1px solid black;
}

th {
    background-color: #005959;
    color: white;
}

tr:nth-child(odd) {
  background-color: #f2f2f2
}
/*
.col-xs-6 {
  border: 2px solid red;
}*/


.trash-icon {
  height: 20px;
  float: left;
}
