<a routerLink="/">Home</a>
<div class="container" *ngFor="let user of users | async">
  <h2>Your stock portfolio</h2>

  <table style="width:100%">
    <tr>
      <th>Company Name</th>
      <th>Number of Shares</th>
      <th>Contribution breakdown</th>
      <th></th>

    </tr>
    <tr *ngFor="let stock of stockObjects">
      <td><strong>{{stock.name}}</strong></td>
      <td>
          <div class="col-xs-6">
            {{stock.shares}}
          </div>
          <div class="col-xs-6">
            <app-add-stock [stockTable]="stockObjects" [selectedStock]="stock"></app-add-stock>
          </div>
      </td>
      <td><strong>Total donations:</strong> ${{stock.total}}<br>
          <strong>Republican donations:</strong> ${{stock.republicans}}<br>
          <strong>Democrat donations:</strong> ${{stock.democrats}}
      </td>
      <td><button (click)="beginDeletingStock(stock)"><img class="trash-icon" src="http://www.freeiconspng.com/uploads/remove-icon-png-24.png" alt="trash icon" /></button></td>
    </tr>
  </table>

  <app-piechart [stockTable]="stockObjects"></app-piechart>
</div>
