<div class="all">
  <!-- <div class="container"> -->
  <div class="title">
    <h2>{{ orgToDisplay }}</h2>
    <h2 id="subtitle">Total Amount Contributed: ${{ total }}</h2>

  </div>
  <div class="row info">


      <div class="row">
        <h3>Fiscal Year: {{ cycle }}</h3>
        <h3>Contribution breakdown: </h3>

  <button (click)="addStock(orgToDisplay, total, republicans, democrats, indivs, pacs, cycle)">Add stock to portfolio</button>


  <div class="col-xs-6">


        <div class="col-xs-6">
          <h4>Contributed to Parties: ${{ gaveToParty }}</h4>
          <h4>Republicans: ${{ republicans }}</h4>
          <h4>Democrats: ${{ democrats }}</h4>
        </div>

        <div class="col-xs-6">
          <h4>Contributed to 527 Committees: ${{ gaveTo527 }}</h4>
          <h4>Contributed to Candidates: ${{ gaveToCand }}</h4>
          <h4>Contributed to PACs: ${{ gaveToPac }}</h4>
          <h4>Contributed to Lobbying Groups: ${{ lobbying }}</h4>
        </div>

      </div>

      <h4>Contributed from Individuals: ${{ indivs }}</h4>
      <h4>Contributed from PACs: ${{ pacs }}</h4>
      <h4>Source: {{ source }}</h4>
    </div>
  </div>

  <div class="inform">


    <!-- this.membersInvested = data.response.organization["@attributes"].mems_invested;
    this.outside = data.response.organization["@attributes"].outside;
    this.soft = data.response.organization["@attributes"].soft;
    this.total527 = data.response.organization["@attributes"].tot527; -->
    <div class="row">
      <div class="col-md-7">
        <app-stock [company]="orgToDisplay">Loading ...</app-stock>
      </div>
      <div class="col-md-5">
        <app-twitter [company]="orgToDisplay">Loading ...</app-twitter>
      </div>
    </div>
  </div>

  <!-- </div> -->
