
<div class="search-main">
  <div class="form-group">
    <br>
    <input class="form-control" #company>
  </div>
  <button (click)="getDonations(company.value)" class="btn">Search companies</button>

</div>


<modal #myModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Organizations</h4>
  </modal-header>
  <modal-body>
    <div class="results">
      <div *ngFor="let org of orgs">
        <a (click)="seeOrgDetail(org.id)" class="clickable">{{org.name}}</a>
      </div>
    </div>
  </modal-body>
</modal>
